@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: "Libre Franklin";
  font-style: normal;
  src: url("../assets/fonts/LibreFranklin-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  li:hover {
    cursor: pointer;
    @apply bg-primary-blue;
  }

  li:hover i {
    color: white;
  }
}
